{% extends 'base.html' %}
<title>{{title}}</title>
{% block content %}
<div>
    <h1>О центре</h1>
    <div>
        Наша цель — предоставлять пациенту лучшие условия для пребывания в нашем центре, оказывать высококвалифицированную помощь в диагностировании и лечении заболеваний органа зрения на современном оборудовании, доступном на рынке на сегодняшний день.
        Наши врачи работают под управлением профессора Позняка Н.И и являются одними из наиболее опытных специалистов-офтальмологов Республики Беларусь, они постоянно анализируют результаты своей деятельности, докладывают их на международных конференциях и публикуют в научных изданиях. Опубликовано свыше 400 научных работ, получено 8 патентов, опубликовано 4 монографии.
        Центр оснащен новым оборудованием как современные клиники США, Великобритании, Японии и Германии. 
    </div>
</div>
{% endblock %}