{% extends 'base.html' %}
{% load i18n %}


{% block content %}
<div class="container mt-5">

    <div class="text-center mb-4">
        <h2>{% trans "Профиль пользователя" %}</h2>
        <p class="lead">{% trans "Добро пожаловать," %} <strong>{{ user.username }}</strong>!</p>
    </div>
   {% if is_user_group %}
    <h3 class="mb-3">{% trans "Выбранные услуги" %}</h3>

    {% if appointment_user %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for appointment in appointment_user %}
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{ appointment.services.title }}</h5>
                            <p class="card-text">
                                {% trans "Врач оказывающий услугу" %} : {{ appointment.doctor.name }} {{ appointment.doctor.surname }}
                            </p>
                            <p class="card-text">
                                {% trans "Дата Приема" %} : {{ appointment.date }} 
                            </p>
                            <p class="card-text">
                                {% trans "Время приема" %} : {{ appointment.time|time:"H:i" }}
                            </p>
                            <p class="card-text">
                                {% trans "Статус" %} : {{ appointment.get_status_display }}
                            </p>
                        </div>
                        <div class="card-footer text-end">
                            <form method="post" action="{% url 'appointment_delete' appointment.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-danger">{% trans "Удалить" %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            {% trans "У вас пока нет выбранных услуг." %}
        </div>
    {% endif %}

{% elif is_doctor_group %}
    {% if appointment_doctor.exists %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for appointment in appointment_doctor %}
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">

                            <h5 class="card-title">{{ appointment.services.title }}</h5>


                            <p class="card-text">
                                {% trans "Пользователь" %}: {{ appointment.patient_name }}
                            </p>
                            <p class="card-text">
                                {% trans "Причина визита" %}: {{ appointment.reason }}
                            </p>
                            <p class="card-text">
                                {% trans "Дата" %}: {{ appointment.date }} {{ appointment.time }}
                            </p>

                            <p class="card-text">
                                {% trans "Статус" %}: {{ appointment.get_status_display }}
                            </p>

                            <form method="post" action="{% url 'appointment_update_status' appointment.id %}">
                                {% csrf_token %}
                                <div class="mb-2">
                                    <select name="status" class="form-select form-select-sm">
                                        {% for key, value in appointment.STATUS_CHOICES %}
                                            <option value="{{ key }}" {% if appointment.status == key %}selected{% endif %}>
                                                {{ value }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-sm btn-primary w-100">
                                    {% trans "Обновить" %}
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            {% trans "К вам пока нет записи" %}
        </div>
    {% endif %}

{% elif is_admin_group %}
    <div>

    </div>

{% endif %}

    <div class="mt-4 text-center">
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger btn-lg">{% trans "Выйти" %}</button>
            </form>
        {% endif %}
    </div>

</div>
{% endblock %}
