.service-img {
    width: 100%;       /* растянуть на ширину карточки */
    height: 300px;     /* фиксированная высота */
    object-fit: cover; /* обрезает лишнее, сохраняет пропорции */
    border-radius: 5px; /* по желанию скруглить края */
}